In [ ]:
import numpy as np
import pandas as pd

In [ ]:
Cs = pd.DataFrame([[1, 1],
               [1, 1],
               [1, -1]])
Cs.index = ['Cs', "A'", "A''"]

C2v = pd.DataFrame([[1, 1, 1, 1],
                [+1, 	+1, 	+1, 	+1],
                [+1, 	+1, 	-1, 	-1],
                [+1,	-1, 	+1, 	-1],
                [+1, 	-1, 	-1, 	+1]
                ])
C2v.index = np.array(['C2v', 'A1', 'A2', 'B1', 'B2'])

C3v = pd.DataFrame([[1, 2, 3],
                [+1, 	+1, 	+1],
                [+1, 	+1 ,	-1],
                [+2 ,	-1 ,	0]
                ])
C3v.index = np.array(['C3v', 'A1', 'A2', 'E'])


C4v = pd.DataFrame([[1, 2, 1, 2, 2],
                [+1, 	+1, 	+1, 	+1, 	+1],
                [+1, 	+1, 	+1, 	-1, 	-1],
                [+1, 	-1, 	+1, 	+1, 	-1],
                [+1, 	-1, 	+1, 	-1, 	+1],
                [2, 	0, 	-2, 	0, 	0]
                ])
C4v.index = np.array(['C4v', 'A1', 'A2', 'B1', 'B2', 'E'])


C6v = pd.DataFrame([[1, 2, 2, 1, 3, 3],
                [1, 	+1, 	+1, 	+1, 	+1, 	+1],
                [+1 ,	+1, 	+1, 	+1, 	-1, 	-1],
                [+1, 	-1, 	+1 ,	-1, 	+1 ,	-1],
                [+1 ,	-1 ,+1 ,	-1 ,	-1 ,	+1],
                [+2 ,	+1 ,	-1, 	-2, 	0 ,	0],
                [+2, 	-1 	,-1 ,	+2 ,	0 ,	0]
                ])
C6v.index = np.array(['C6v', 'A1', 'A2', 'B1', 'B2', 'E1', 'E2'])


C8v = pd.DataFrame([[1, 2, 2, 2, 1, 4, 4],
                [+1 ,	+1 ,	+1 ,	+1, 	+1 ,	+1, 	+1],
                [+1, 	+1 ,	+1 ,	+1 ,	+1, 	-1 ,	-1],
                [+1 ,	-1, 	+1 ,	-1 ,	+1 	,+1 ,	-1 	],
                [+1, 	-1 ,	+1, 	-1 ,	+1, 	-1, 	+1],
                [+2, 	+(2**.5), 	0 ,	-(2**.5) ,	-2 ,	0 ,	0],
                [+2 ,	0 ,	-2 ,	0 ,	+2 ,	0 ,	0],
                [+2 ,	-(2**.5), 	0, 	+(2**.5) ,	-2 ,	0 ,	0]
                ])
C8v.index = np.array(['C8v', 'A1', 'A2', 'B1', 'B2', 'E1', 'E2', 'E3'])

C2h = pd.DataFrame([[1, 1, 1, 1],
                [+1, 	+1, 	+1 ,	+1],
                [+1 ,	-1 	,+1 ,	-1],
                [+1 ,	+1 ,	-1 ,	-1],
                [+1 ,	-1 ,	-1, 	+1 	]
                ])
C2h.index = np.array(['C2h', 'Ag', 'Bg', 'Au', 'Bu'])

D2h =  pd.DataFrame([[1 for i in range(8)],
                 [+1 ,	+1, 	+1 ,	+1 ,	+1, 	+1 ,	+1 	,+1],
                 [1 ,	+1 ,	-1 ,	-1 	,+1 ,	+1 ,	-1, 	-1],
                 [+1 ,	-1 	,+1 ,	-1 ,	+1, 	-1 	,+1 ,	-1],
                 [1 ,	-1 ,	-1, 	+1, 	+1,	-1, 	-1, 	+1],
                 [+1, 	+1 ,	+1, 	+1, 	-1, 	-1 ,	-1, 	-1],
                 [+1 ,	+1 	,-1, 	-1 ,	-1, 	-1, 	+1 ,	+1],
                 [+1 ,	-1 	,+1 ,	-1 ,	-1, 	+1, 	-1, 	+1],
                 [+1, 	-1 ,	-1, 	+1 ,	-1 ,	+1,	+1 ,	-1]
                 ])
D2h.index = np.array(['D2h', 'Ag', 'B1g', 'B2g', 'B3g', 'Au', 'B1u', 'B2u', 'B3u'])

D3h =  pd.DataFrame([[1, 2, 3, 1, 2, 3],
                 [1, 	+1 ,	+1, 	+1 ,	+1 ,	+1],
                 [+1 ,	+1 ,	-1 	,+1 	,+1 ,	-1],
                 [+2 ,	-1 	,0, 	+2 ,	-1, 	0],
                 [1 ,	+1, 	+1 ,	-1 ,	-1 ,	-1],
                 [+1, 	+1, 	-1, 	-1, 	-1 ,	+1],
                 [+2, 	-1 ,	0 ,	-2 ,	+1 ,	0]
                 ])
D3h.index = np.array(['D3h', "A'1", "A'2", "E'", "A''1", "A''2", "E''"])

D4h =  pd.DataFrame([[1, 2, 1, 2, 2, 1, 2, 1, 2, 2],
                 [+1, 	+1 ,	+1 ,	+1 	,+1 	,+1 ,	+1 ,	+1, 	+1 ,	+1],
                 [+1 ,	+1, 	+1 ,	-1 ,	-1 ,	+1, 	+1 	,+1 ,	-1 ,	-1],
                 [+1 ,	-1 ,	+1 ,	+1 ,	-1 ,	+1, 	-1, 	+1, 	+1, 	-1],
                 [+1 ,	-1, 	+1 ,	-1, 	+1 ,	+1, 	-1, 	+1, 	-1, 	+1],
                 [+2, 	0 ,	-2 ,	0 ,	0 ,	+2, 	0 ,	-2, 	0 ,	0],
                 [1 ,	+1 ,	+1, 	+1 ,	+1 ,	-1 ,	-1, 	-1 	,-1 ,	-1],
                 [+1 ,	+1, 	+1 ,	-1 ,	-1 	,-1 ,	-1 ,	-1 ,	+1 ,	+1],
                 [+1, 	-1, 	+1, 	+1, 	-1 ,	-1, 	+1 ,	-1, 	-1, 	+1],
                 [+1, 	-1, 	+1, 	-1, 	+1, 	-1 ,	+1, 	-1, 	+1, 	-1],
                 [+2 ,	0 ,	-2 ,	0 ,	0 	,-2, 	0 ,	+2, 	0 ,	0]
                 ])
D4h.index = np.array(['D4h', 'A1g', 'A2g', 'B1g', 'B2g', 'Eg', 'A1u', 'A2u', 'B1u', 'B2u', 'Eu'])

D6h =  pd.DataFrame([[1, 2, 2, 1, 3, 3, 1, 2, 2, 1, 3, 3],
                 [+1 ,	+1 ,	+1, 	+1 	,+1 ,	+1, 	+1 ,	+1 ,	+1 ,	+1 	,+1, 	+1],
                 [+1, 	+1, 	+1, 	+1, 	-1 ,	-1 ,	+1, 	+1, 	+1, 	+1, 	-1, 	-1],
                 [+1, 	-1, 	+1, 	-1, 	+1 ,	-1, 	+1, 	-1 ,	+1 ,	-1, 	+1 ,	-1],
                 [+1, 	-1, 	+1 ,	-1 ,	-1 ,	+1, 	+1, 	-1 ,	+1,	-1 	,-1 ,	+1],
                 [+2 ,	+1, 	-1 ,	-2, 	0 ,	0 ,	+2, 	+1, 	-1, 	-2 ,	0, 	0],
                 [+2, 	-1 ,	-1 	,+2, 	0 ,	0 ,	+2, 	-1, 	-1, 	+2 ,	0, 	0],
                 [+1, 	+1, 	+1, 	+1 ,	+1, 	+1, 	-1, 	-1, 	-1, 	-1, 	-1, 	-1],
                 [+1, 	+1, 	+1 ,	+1, 	-1 ,	-1 ,	-1, 	-1 ,	-1 ,	-1, 	+1 ,	+1],
                 [+1 ,	-1 ,	+1 ,	-1 ,	+1, 	-1, 	-1, 	+1, 	-1, 	+1, 	-1, 	+1],
                 [+1, 	-1, 	+1 ,	-1 ,	-1 	,+1 ,	-1, 	+1, 	-1, 	+1, 	+1, 	-1],
                 [+2, 	+1, 	-1, 	-2, 	0 ,	0 ,	-2 ,	-1, 	+1, 	+2, 	0, 	0],
                 [+2, 	-1, 	-1 ,	+2, 	0 ,	0 	,-2 ,	+1 ,	+1, 	-2 ,	0 ,	0]
                 ])
D6h.index = np.array(['D6h', 'A1g', 'A2g', 'B1g', 'B2g', 'E1g', 'E2g', 'A1u', 'A2u', 'B1u', 'B2u', 'E1u', 'E2u'])

D2d =  pd.DataFrame([[1, 2, 1, 2, 2],
                 [+1, 	+1, 	+1, 	+1, 	+1],
                 [+1, 	+1, 	+1, 	-1, 	-1],
                 [+1, 	-1, 	+1, 	+1, 	-1],
                 [+1, 	-1, 	+1, 	-1, 	+1],
                 [+2, 	0 ,	 -2,   	0,  	0]
                 ])
D2d.index = np.array(['D2d', 'A1', 'A2', 'B1', 'B2', 'E'])

D3d =  pd.DataFrame([[1, 2, 3, 1, 2, 3],
                 [1, 	+1 ,	+1, 	+1 ,	+1 ,	+1],
                 [+1 ,	+1 ,	-1 	,+1 	,+1 ,	-1],
                 [+2 ,	-1 	,0, 	+2 ,	-1, 	0],
                 [1 ,	+1, 	+1 ,	-1 ,	-1 ,	-1],
                 [+1, 	+1, 	-1, 	-1, 	-1 ,	+1],
                 [+2, 	-1 ,	0 ,	-2 ,	+1 ,	0]
                 ])
D3d.index = np.array(['D3d', 'A1g', 'A2g', 'Eg', 'A1u', 'A2u', 'Eu'])

D4d = pd.DataFrame([[1, 2, 2, 2, 1, 4, 4],
                [+1 ,	+1 ,	+1 ,	+1, 	+1 ,	+1, 	+1],
                [+1, 	+1 ,	+1 ,	+1 ,	+1, 	-1 ,	-1],
                [+1 ,	-1, 	+1 ,	-1 ,	+1 	,+1 ,	-1 	],
                [+1, 	-1 ,	+1, 	-1 ,	+1, 	-1, 	+1],
                [+2, 	+(2**.5), 	0 ,	-(2**.5) ,	-2 ,	0 ,	0],
                [+2 ,	0 ,	-2 ,	0 ,	+2 ,	0 ,	0],
                [+2 ,	-(2**.5), 	0, 	+(2**.5) ,	-2 ,	0 ,	0]
                ])
D4d.index = np.array(['D4d', 'A1', 'A2', 'B1', 'B2', 'E1', 'E2', 'E3'])

D6d =  pd.DataFrame([[1, 2, 2, 2, 2, 2, 1, 6, 6],
                 [+1, 	+1, 	+1, 	+1, 	+1 ,	+1, 	+1, 	+1, 	+1],
                 [+1, 	+1, 	+1, 	+1, 	+1, 	+1, 	+1, 	-1, 	-1],
                 [+1, 	-1, 	+1 ,	-1, 	+1, 	-1, 	+1 ,	+1, 	-1],
                 [+1, 	-1, 	+1 ,	-1 ,	+1 ,	-1 ,	+1 	,-1, 	+1],
                 [+2, 	+(3**.5), 	+1 ,	0, 	-1, 	-(3**.5), 	-2, 	0, 	0],
                 [+2, 	+1, 	-1, 	-2 ,	-1, 	+1, 	+2 ,	0 ,	0],
                 [+2 ,	0 ,	-2 ,	0 ,	+2, 	0, 	-2, 	0, 	0],
                 [+2 ,	-1, 	-1 ,	+2, 	-1 ,	-1 	,+2 ,	0 ,	0],
                 [2, 	-(3**.5), 	+1 ,	0 ,	-1, 	+(3**.5), 	-2, 	0, 	0]
                 ])
D6d.index = np.array(['D6d', 'A1', 'A2', 'B1', 'B2', 'E1', 'E2', 'E3', 'E4', 'E5'])

Td = pd.DataFrame([[1, 8, 3, 6, 6],
               [+1, 	+1, 	+1, 	+1, 	+1],
               [1 ,	+1 ,	+1 ,	-1, 	-1],
               [+2, 	-1, 	+2 ,	0, 	0],
               [+3 ,	0 ,	-1 ,	+1 ,	-1],
               [+3, 	0, 	-1, 	-1, 	+1]
               ])
Td.index = np.array(['Td', 'A1', 'A2', 'E', 'T1', 'T2'])

O = pd.DataFrame([[1, 8, 6, 6, 3],
              [+1, 	+1, 	+1, 	+1 ,	+1],
              [+1 ,	+1 ,	-1 ,	-1 ,	+1],
              [+2 ,	-1 ,	0 ,	0 ,	+2],
              [+3 ,	0 	,-1 ,	+1 ,	-1],
              [+3, 	0, 	+1, 	-1, 	-1]
              ])
O.index = np.array(['O', 'A1', 'A2', 'E', 'T1', 'T2'])

Oh = pd.DataFrame([[1, 8, 6, 6, 3, 1, 6, 8, 3, 6],
               [+1, 	+1, 	+1, 	+1, 	+1, 	+1, 	+1, 	+1, 	+1, 	+1],
               [+1, 	+1, 	-1, 	-1, 	+1 ,	+1, 	-1 ,	+1, 	+1, 	-1],
               [+2 ,	-1 ,   0, 	 0 ,	+2 ,	+2 	,  0 ,	-1 ,	+2,    0],
               [+3, 	 0,  	-1 ,	+1, 	-1 ,	+3, 	+1, 	 0, 	-1 ,	-1],
               [+3 ,	 0, 	+1, 	-1, 	-1 ,	+3, 	-1, 	 0 ,	-1 ,	+1],
               [+1 ,	+1, 	+1, 	+1, 	+1, 	-1 ,	-1, 	-1, 	-1, 	-1],
               [+1 ,	+1 	, -1 ,	-1 	, +1 ,	-1 ,	+1, 	-1 ,	-1, 	+1],
               [+2 ,	-1 ,	 0, 	 0 ,	+2, 	-2, 	 0,   +1, 	-2, 	 0],
               [+3 ,	 0 ,	-1 ,	+1, 	-1 ,	-3 	, -1 ,	 0 ,	+1, 	+1],
               [+3,    0, 	+1, 	-1, 	-1, 	-3 ,	+1 ,	0,  	+1, 	-1]
               ])
Oh.index = np.array(['Oh', 'A1g', 'A2g', 'Eg', 'T1g', 'T2g', 'A1u', 'A2u', 'Eu', 'T1u', 'T2u'])

In [ ]:
def reduction(reducible, group):
  result = group.iloc[1:] * group.iloc[0] * np.array(reducible)

  result['number of appearences'] = result.sum(1) / group.iloc[0].sum()
  return result.astype(int)


def Elevel(group, *args):
  reducible = group.loc[[*args]].product().rename(' × '.join(args))  #calculate the product of the inputted rows

  if (group == reducible).all(1).any() == True:  #if the product is an irreducible representation
    temp = (group == reducible).all(1)  #pd series indicating which irreducible representation the product is
    print(temp[temp == True].index.values[0])
    return reducible
  
  else:
    result = reduction(reducible, group)
    return result.append(reducible)

Elevel(D2h, 'B2u', 'B1u')

B3g

0    1
1   -1
2   -1
3    1
4    1
5   -1
6   -1
7    1
Name: B2u × B1u, dtype: int64

In [ ]:
reduction([4,1,0,0,2], Td)

     0  1  2  3   4  number of appearences
A1   4  8  0  0  12                      1
A2   4  8  0  0 -12                      0
E    8 -8  0  0   0                      0
T1  12  0  0  0 -12                      0
T2  12  0  0  0  12                      1